{% extends 'adminDNK/home_admin.html' %}

{% block title %}Добавление платной услуги{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавление платной услуги</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.id_centra }}<br>
            {{ form.id_date }}<br>
            {{ form.razdel }}<br>
            {{ form.nazvanie_uslugi }}<br>
            {{ form.opisanie_uslugi }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить услугу</button>
        </form>
    </div>
{% endblock %}