{% extends 'adminDNK/home_admin.html' %}

{% block title %}Добавление новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавление новости</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.id_centra }}<br>
            {{ form.nazvanie_news }}<br>
            {{ form.news }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить новость</button>
        </form>
    </div>
{% endblock %}