{% extends 'adminDNK/home_admin.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.nazvanie_news }}</h3>
                <p>{{ el.news }}</p>
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Изменить или удалить</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}