{% extends 'obuch/obuch_home.html' %}

{% block title %}Сетевые уроки{% endblock %}

{% block content %}
    <div class="features">
        <h1>Сетевые уроки</h1>
        <ul>
            <a href="{% url 'program_det_obuch' %}"><il>Детский университет</il></a>
            <a href="{% url 'program_mal_obuch' %}"><il>Малая академия</il></a>
            <a href="{% url 'program_set_obuch' %}"><il>Сетевые уроки</il></a>
        </ul>
        <p>Здесь будет список программ "Сетевые уроки"</p>
    </div>
{% endblock %}