{% extends 'main/base.html' %}

{% block title %}Программы{% endblock %}

{% block content %}
    <div class="features">
        <h1>Программы</h1>
        <ul>
            <a href="{% url 'plat_prog' %}"><il>Программы</il></a>
            <a href="{% url 'plat_mer' %}"><il>Мероприятия выходного дня</il></a>
            <a href="{% url 'plat_fab' %}"><il>Фабрика-лаборатория</il></a>
            <a href="{% url 'plat_eks' %}"><il>Экскурсии и мастер классы</il></a>
        </ul><br>
        <ul>
            <a href="{% url 'plat_prog_nach' %}"><il>Для начальной школы</il></a>
            <a href="{% url 'plat_prog_dosh' %}"><il>Для дошкольников</il></a>
        </ul>
    </div>
{% endblock %}