{% extends 'main/base.html' %}

{% block title %}Детский университет{% endblock %}

{% block content %}
    <div class="features">
        <h1>Детский университет</h1>
        <ul>
            <a href="{% url 'program_det' %}"><il>Детский университет</il></a>
            <a href="{% url 'program_mal' %}"><il>Малая академия</il></a>
            <a href="{% url 'program_set' %}"><il>Сетевые уроки</il></a>
        </ul>
        <p>Здесь будет список программ "Детский университет"</p>
    </div>
{% endblock %}